Click==7.0
Cython==0.26.1
jnius==1.1.0
joblib==0.13.0
marisa-trie==0.7.5
mwparserfromhell==0.5.2
numpy==1.15.4
pytorch-pretrained-bert==0.4.0
scipy==1.2.0
tensorboardx==1.6
torch==1.0.0
tqdm==4.28.1
wikipedia2vec==1.0.1
